.list-box {
  float: left;
  padding: 10px;
  margin:3px;
  border:solid 5px #3d3d29;
  border-radius: 20px;
  background-color: #d6d6c2;
  
}


.list-head {
  margin:20px;
  padding: auto;
  cursor: not-allowed;
  color:#00664d;
}

.sidelist {
  padding:20px;
  list-style-type: none;
  background-color:#cfc;
  border-radius: 20px;
  text-align: center;
}

.places {
  cursor: pointer;
  padding: 13px;
  color: #00f;
  
}

.places:hover{
  color: #00995c;
  background-color: white;
  border-radius: 10px;
  border:solid #00cc7a;
}

.input-box {
  margin-left: 15px;
  padding: 12px;
  cursor: auto;
  background-color: #f5f5f0;
  border: 2px solid blue;
  border-radius: 10px;
}

@media screen and (max-width: 500px) { 
  .list-box{
    width:40%;    

  }
  .map-box{
    width: 50%;
  }
  .input-box{
    width: 50%;    
  }

  input,
  input::placeholder{
    font-size: 12px;
  }

  .list-head{
    width: 40%;
    margin:2px;
    text-align: center;
  }
  .sidelist{
    padding: 5px;

  }
}


